@keyframes blur-text {
  0% {
    filter: blur(0rem); }
  100% {
    filter: blur(0.5rem); } }

@keyframes circleZ {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes pulsate {
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 2rem 0rem rgba(102, 153, 255, 0.4); } }

@keyframes rotate {
  0% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(0deg); } }

*,
*::after,
*::before {
  /* include the pseudo element as well! */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* make use of inheritance - 2 steps see body below! */ }

html {
  font-size: 62.5%;
  /* 1rem = 10px for 16px default browser font-size -> 0.625*16 = 10px */ }

body {
  font-family: 'Palatino Linotype', serif;
  box-sizing: border-box;
  /* make use of inheritance - 2 steps see * above! */
  background-color: #000000;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  body {
    font-family: 'Palatino Linotype';
    src: url("PalatinoLinotype.woff") format("woff"), url("PalatinoLinotype.ttf") format("truetype"), url("PalatinoLinotype.svg#PalatinoLinotype") format("svg");
    /* Legacy iOS */ } }

::selection {
  background-color: black;
  color: #cca876; }

.clickable {
  cursor: url(../img_desktop/mallet45.svg) 20 16, auto; }
  .clickable:active {
    cursor: url(../img_desktop/mallet.svg) 24 10, auto; }

/*make the initial & visited state the same*/
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  border-radius: .3rem;
  transition: all .2s;
  /*all properties will be animated*/
  backface-visibility: hidden;
  border: none;
  height: 3rem;
  background-color: transparent; }

.btn:hover {
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

@media only screen and (max-width: 56.25em) {
  .btn {
    font-size: 100%;
    height: 2rem; } }

.instruction {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 27rem 1fr;
  grid-template-columns: 1fr 32rem 1fr;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  opacity: 0;
  visibility: hidden;
  transition: all .2s; }
  .instruction--animate {
    opacity: 1;
    visibility: visible !important; }
  .instruction__container {
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 1rem;
    overflow: hidden;
    background: url("../img_desktop/paper.jpg") no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 1fr 5rem;
    justify-items: center;
    align-items: center; }
  .instruction__text {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    text-shadow: -1px -1px 0 #cca876, -1px 0 0 #cca876, 1px -1px 0 #cca876, 1px 0 0 #cca876, -1px 1px 0 #cca876, 1px 1px 0 #cca876, 0 -1px 0 #cca876, 0 1px 0 #cca876, 0 1px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    color: rgba(0, 0, 204, 0.8);
    padding: 3rem 0 3rem 3rem; }
  .instruction__remove {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid; }
    .instruction__remove:hover > .instruction__remove-x {
      background-color: rgba(0, 0, 204, 0.5); }
    .instruction__remove-x {
      height: 3rem;
      width: 3rem;
      display: inline-block;
      background-color: rgba(102, 102, 102, 0.5);
      -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
      clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
      transition: all .2s; }

.lawyers {
  color: #cca876;
  font-size: 1.3rem;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100vw;
  display: grid;
  grid-template-rows: 2.25rem calc(100vh - 4.5rem) 2.25rem;
  grid-template-columns: 1fr minmax(18rem, 55vh) 1fr;
  perspective: 150rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.44, -0.77, 0.57, 1.89); }
  .lawyers--animate {
    opacity: 1;
    visibility: visible; }
  @media only screen and (max-width: 56.25em) {
    .lawyers {
      grid-template-columns: 1fr minmax(16rem, 50vh) 1fr; } }
  @media only screen and (max-width: 43.75em) {
    .lawyers {
      grid-template-rows: 2.25rem 80vh 2.25rem;
      grid-template-columns: 1fr minmax(14rem, 45vh) 1fr;
      font-size: 1rem; } }
  .lawyers__about {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-row-gap: 1rem;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.44, -0.77, 0.57, 1.89); }
    @media only screen and (max-width: 56.25em) {
      .lawyers__about {
        grid-row-gap: 0; } }
    .lawyers__about--animate {
      opacity: 1;
      visibility: visible;
      animation: rotate 1.3s 0s linear normal; }
    .lawyers__about > h2 {
      font-size: 1.5rem;
      font-weight: initial;
      text-transform: uppercase;
      padding: .5rem 0;
      /*so it is in the same line with the MENU*/ }
      @media only screen and (max-width: 43.75em) {
        .lawyers__about > h2 {
          font-size: 1.2rem; } }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  display: grid;
  grid-template-rows: 1fr 30rem 1fr;
  grid-template-columns: 1fr 30rem 1fr;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  color: #cca876;
  z-index: 10000; }
  .loading__text {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: repeat(7, min-content);
    align-items: center;
    z-index: 1001; }
  .loading__letter {
    display: inline-block;
    transition: all .1s ease-in 0s; }
    .loading__letter:nth-child(1) {
      animation: blur-text 1s 0s infinite linear alternate backwards; }
    .loading__letter:nth-child(2) {
      animation: blur-text 1s 0.2s infinite linear alternate backwards; }
    .loading__letter:nth-child(3) {
      animation: blur-text 1s 0.4s infinite linear alternate backwards; }
    .loading__letter:nth-child(4) {
      animation: blur-text 1s 0.6s infinite linear alternate backwards; }
    .loading__letter:nth-child(5) {
      animation: blur-text 1s 0.8s infinite linear alternate backwards; }
    .loading__letter:nth-child(6) {
      animation: blur-text 1s 1s infinite linear alternate backwards; }
    .loading__letter:nth-child(7) {
      animation: blur-text 1s 1.2s infinite linear alternate backwards; }
    .loading__letter:not(:last-child) {
      margin-right: .7rem; }
    @media not all and (hover: none) {
      .loading__letter:hover {
        transform: scale(2); } }
    .loading__letter:active {
      transform: translateY(5rem); }
  .loading__percent {
    grid-area: 2/2/3/3;
    width: 20rem;
    height: 20rem;
    animation: circleZ 7s linear 0s infinite;
    z-index: 1; }
    .loading__percent span {
      display: inline-block;
      animation: circleZ 7s linear 0s infinite reverse; }
  .loading__circle {
    grid-area: 2/2/3/3; }
    .loading__circle img {
      width: 30rem;
      height: 30rem;
      filter: saturate(700%);
      animation: circleZ 7s linear 0s infinite;
      animation-fill-mode: backwards; }

.location {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: grid;
  grid-template-rows: 7vh 44vh 44vh 7vh;
  grid-template-columns: 1fr minmax(18rem, 57vh) 6vh minmax(18rem, 57vh) 1fr;
  -webkit-perspective: 150rem;
  /* Safari 4-8 */
  perspective: 150rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.44, -0.77, 0.57, 1.89); }
  @media only screen and (max-width: 43.75em) {
    .location {
      grid-template-rows: 5vh 40vh 40vh 15vh;
      grid-template-columns: 1fr minmax(5rem, 47vh) 6vh minmax(5rem, 47vh) 1fr; } }
  @media only screen and (max-width: 43.75em) {
    .location {
      font-size: 0.7rem; } }
  .location--animate {
    opacity: 1;
    visibility: visible !important; }
  .location__map {
    grid-column: 2/3;
    grid-row: 2/4;
    border-radius: .5rem;
    transform: rotateY(-5deg); }
    .location__map > div {
      background-color: transparent !important; }
  .location__details {
    grid-column: 4/5;
    grid-row: 2/4;
    color: #0000cc;
    font-size: 1.4rem;
    font-style: italic;
    transform: rotateY(5deg);
    display: grid;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 43.75em) {
      .location__details {
        font-size: 0.7rem;
        align-items: initial; } }
  .location__heading {
    font-weight: 700;
    text-transform: uppercase; }
  .location__address {
    list-style: none; }
    .location__address li {
      text-align: center; }
  .location__form {
    justify-self: stretch;
    display: grid;
    grid-row-gap: 1rem; }
    @media only screen and (max-width: 43.75em) {
      .location__form {
        grid-row-gap: 0; } }
    .location__form textarea {
      resize: none;
      width: 100%; }
    .location__form-group {
      display: grid; }
    .location__form-input {
      font-size: 1.4rem;
      font-family: inherit;
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      border: none;
      border-bottom: 0.3rem dotted #666;
      width: 100%;
      transition: all .2s; }
      .location__form-input:focus {
        border-bottom: 0.3rem dotted #000000;
        outline: none; }
      .location__form-input:required {
        box-shadow: none; }
      .location__form-input::placeholder {
        color: #333;
        opacity: 1;
        /* Firefox */ }
      @media only screen and (max-width: 56.25em) {
        .location__form-input {
          font-size: 0.7rem; } }
    .location__form-label {
      color: #333;
      display: block;
      transition: all .3s; }
    .location__form-input:placeholder-shown + .location__form-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-2rem); }
  .location__lawyer-list {
    list-style: none; }
    .location__lawyer-list li {
      text-align: center; }

.menu {
  display: grid;
  grid-template-columns: 8rem 8rem;
  grid-row-gap: 2.25rem;
  position: fixed;
  font-size: 150%;
  color: #cca876;
  padding: 2.25rem;
  text-transform: uppercase;
  z-index: 1000; }
  .menu__logo {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .5rem 0;
    border-radius: 100rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*so the text cant be selected*/ }
    .menu__logo:hover {
      animation: pulsate 2s infinite; }
    .menu__logo img {
      grid-column-start: 1;
      grid-column-end: 2;
      justify-self: end;
      height: 2.25rem; }
    .menu__logo span {
      grid-column-start: 2;
      grid-column-end: 3;
      justify-self: start;
      height: 2.25rem; }
  .menu__nav {
    grid-column-start: 1;
    grid-column-end: 3; }
  .menu__list {
    display: grid;
    grid-row-gap: 2.25rem;
    list-style: none; }
    @media only screen and (max-width: 43.75em) {
      .menu__list {
        grid-row-gap: 1.25rem; } }
  .menu__item {
    display: grid;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .menu__item--1 {
      top: -5.5rem; }
    .menu__item--2 {
      top: -11rem; }
    .menu__item--3 {
      top: -16.5rem; }
    .menu__item--4 {
      top: -22rem; }
    .menu__item--5 {
      top: -27.5rem; }
    .menu__item--animate {
      top: 0rem;
      opacity: 1;
      visibility: visible; }
  .menu__link, .menu__link:link, .menu__link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.585rem 0;
    border-radius: 100rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    outline: none; }
  .menu__link:hover {
    animation: pulsate 2s infinite; }

.volume {
  position: fixed;
  right: 0;
  z-index: 1000;
  padding: 2.75rem 6.75rem 2.75rem 2.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*so the text cant be selected*/ }
  .volume svg {
    height: 2.25rem;
    width: 2.25rem;
    transform: scale(1.3);
    transition: all .2s; }
    .volume svg:hover {
      transform: scale(1.4); }

.designer {
  font-size: 150%;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 2.75rem;
  transform: translateY(-100%);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  justify-items: center; }
  .designer--animate {
    transform: translateY(0%); }
  .designer div {
    border-radius: 1rem;
    overflow: hidden;
    background: url(../img_desktop/paper.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 1rem;
    text-shadow: -1px -1px 0 #cca876, -1px 0 0 #cca876, 1px -1px 0 #cca876, 1px 0 0 #cca876, -1px 1px 0 #cca876, 1px 1px 0 #cca876, 0 -1px 0 #cca876, 0 1px 0 #cca876, 0 1px 0 rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 204, 0.8);
    display: grid;
    justify-items: center; }
  .designer p {
    height: 2.25rem; }
  .designer a, .designer a:link, .designer a:visited {
    color: rgba(0, 0, 204, 0.8);
    border-radius: 100rem;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    display: inline-block;
    height: 2.25rem;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .designer a:hover {
    transform: scale(1.2); }

.cssGrid-not-supported, .portrait {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 10000; }
  .cssGrid-not-supported p, .portrait p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    overflow: hidden;
    width: 32rem;
    height: 16rem;
    background: url("../img_desktop/paper.jpg") no-repeat;
    background-size: 100% 100%; }
    .cssGrid-not-supported p span, .portrait p span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.8rem;
      color: rgba(0, 0, 204, 0.8);
      width: 100%;
      text-align: center;
      text-shadow: -1px -1px 0 #cca876, -1px 0 0 #cca876, 1px -1px 0 #cca876, 1px 0 0 #cca876, -1px 1px 0 #cca876, 1px 1px 0 #cca876, 0 -1px 0 #cca876, 0 1px 0 #cca876, 0 1px 0 rgba(0, 0, 0, 0.2); }

.news {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  z-index: 10; }
  .news--animate {
    opacity: 1;
    visibility: visible; }
  .news__element {
    width: 34rem;
    height: 34rem;
    padding: 1rem;
    overflow-y: auto;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
    grid-row-gap: 1rem;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 255, 255, 0.5);
    border: 0.1rem solid rgba(127, 255, 255, 0.25);
    transition: all .4s; }
    .news__element:hover {
      box-shadow: 0rem 0rem 2rem rgba(0, 255, 255, 0.75);
      border: 0.1rem solid rgba(127, 255, 255, 0.75);
      background: linear-gradient(to right, #000000 0%, #000000 100%);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px); }
    .news__element:hover > .news__element-text {
      filter: blur(0); }
    .news__element-heading {
      letter-spacing: .1rem; }
    .news__element-image {
      width: 35%;
      border-radius: 100%; }
    .news__element-text {
      text-indent: 2rem;
      text-align: justify;
      padding-bottom: 1rem;
      filter: blur(0.3rem); }
      .news__element-text > p:first-letter {
        text-transform: capitalize;
        font-size: 140%; }

.control-panel {
  position: fixed;
  right: 6.75rem;
  bottom: 6.75rem;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  display: grid;
  grid-template-rows: repeat(4, 4.25rem);
  grid-template-columns: repeat(3, 4.25rem); }
  .control-panel--animate {
    opacity: 1;
    visibility: visible; }
  @media only screen and (max-width: 43.75em) {
    .control-panel {
      right: .5rem;
      bottom: .5rem; } }
  .control-panel .move-up, .control-panel .move-left, .control-panel .move-right, .control-panel .move-down, .control-panel .zoom-in, .control-panel .zoom-out {
    border: 1px solid #333;
    border-radius: 100%;
    padding: 1rem; }
  .control-panel .move-up {
    grid-row: 1/2;
    grid-column: 2/3; }
    .control-panel .move-up .up {
      height: 2.25rem;
      width: 2.25rem;
      background: #333;
      -webkit-clip-path: polygon(20% 100%, 20% 40%, 0 40%, 50% 0, 100% 40%, 80% 40%, 80% 100%);
      clip-path: polygon(20% 100%, 20% 40%, 0 40%, 50% 0, 100% 40%, 80% 40%, 80% 100%); }
  .control-panel .move-left {
    grid-row: 2/3;
    grid-column: 1/2; }
    .control-panel .move-left .left {
      height: 2.25rem;
      width: 2.25rem;
      background: #333;
      -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
      clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%); }
  .control-panel .move-right {
    grid-row: 2/3;
    grid-column: 3/4; }
    .control-panel .move-right .right {
      height: 2.25rem;
      width: 2.25rem;
      background: #333;
      -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
      clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); }
  .control-panel .move-down {
    grid-row: 3/4;
    grid-column: 2/3; }
    .control-panel .move-down .down {
      height: 2.25rem;
      width: 2.25rem;
      background: #333;
      -webkit-clip-path: polygon(80% 0, 80% 60%, 100% 60%, 50% 100%, 0 60%, 20% 60%, 20% 0);
      clip-path: polygon(80% 0, 80% 60%, 100% 60%, 50% 100%, 0 60%, 20% 60%, 20% 0); }
  .control-panel .zoom-in {
    grid-row: 4/5;
    grid-column: 1/2; }
    .control-panel .zoom-in .plus {
      height: 2.25rem;
      width: 2.25rem;
      background: #333;
      -webkit-clip-path: polygon(0 33%, 33% 33%, 33% 0, 66% 0, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0 66%);
      clip-path: polygon(0 33%, 33% 33%, 33% 0, 66% 0, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0 66%); }
  .control-panel .zoom-out {
    grid-row: 4/5;
    grid-column: 3/4; }
    .control-panel .zoom-out .minus {
      height: 2.25rem;
      width: 2.25rem;
      background: #333;
      -webkit-clip-path: polygon(0 34%, 100% 34%, 100% 67%, 0 67%);
      clip-path: polygon(0 34%, 100% 34%, 100% 67%, 0 67%); }

#webGLcontainer {
  position: fixed;
  background: linear-gradient(to bottom, #1e4877 0%, #4584b4 50%, #1e4877 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.magnify {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: grid;
  grid-template-rows: 3vh 94vh 3vh;
  grid-template-columns: 1fr 94vh 1fr;
  opacity: 0;
  visibility: hidden;
  transition: all .2s; }
  .magnify--animate {
    opacity: 1;
    visibility: visible !important; }
  .magnify__glass {
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5rem;
    justify-items: center;
    align-items: center; }
    .magnify__glass-remove {
      grid-column: 2/3;
      grid-row: 1/2;
      display: grid;
      z-index: 1; }
      .magnify__glass-remove:hover > .magnify__glass-remove-x {
        background-color: #cca876; }
      .magnify__glass-remove-x {
        height: 3rem;
        width: 3rem;
        background-color: #666;
        opacity: 0.5;
        display: inline-block;
        -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        transition: all .2s; }
    .magnify__glass > canvas {
      width: 100%;
      height: 100%;
      grid-column: 1/3;
      grid-row: 1/2; }

.services-control-panel {
  position: fixed;
  top: 7.75rem;
  right: 3rem;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  display: grid;
  grid-template-columns: repeat(2, 4.25rem);
  grid-column-gap: 1rem; }
  .services-control-panel--animate {
    opacity: 1;
    visibility: visible; }
  @media only screen and (max-width: 43.75em) {
    .services-control-panel {
      right: .5rem; } }
  .services-control-panel .services-rotate-left, .services-control-panel .services-rotate-right {
    border: 1px solid #cca876;
    border-radius: 100%;
    padding: 1rem; }
  .services-control-panel .services-rotate-left {
    grid-column: 1/2; }
    .services-control-panel .services-rotate-left .left {
      height: 2.25rem;
      width: 2.25rem;
      background: #cca876;
      -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
      clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%); }
  .services-control-panel .services-rotate-right {
    grid-column: 2/3; }
    .services-control-panel .services-rotate-right .right {
      height: 2.25rem;
      width: 2.25rem;
      background: #cca876;
      -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
      clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); }
