.loading {
    display: grid;
    grid-template-rows: 1fr 30rem 1fr;
    grid-template-columns: 1fr 30rem 1fr;
    justify-items: center;
    align-items: center;

    font-size: 2rem;
    color: $color-gold;  //var(--color-grey-light);
  	width: 100%;
  	height: 100vh;
    // background-image: radial-gradient(circle at center, rgba($color-black,1) 0rem, rgba($color-black,1) 15rem, rgba($color-dark,1) 35rem, rgba($color-black,1) 75rem, rgba($color-black,1) 100rem);
    // background-position: 50% 50%;
    z-index: 10000;

    &__text {
        grid-area: 2/2/3/3;
        display: grid;
        grid-template-columns: repeat(7, min-content);
        align-items: center;

        z-index:1001;
    }

    &__letter {
        display: inline-block; //so it can be animated!
        cursor: url(../img/mallet45.svg), auto;
        transition: all .1s ease-in 0s;

        @for $i from 0 through 6 {
            &:nth-child(#{$i + 1}) {
              animation: blur-text 1s (#{$i/5}s) infinite linear alternate backwards;
            }
        }
        //have right margin on all but the last one:
        &:not(:last-child) { margin-right: .7rem; }

        //do not apply to phones/tablets:
        @media not all and (hover: none) {
            &:hover { transform: scale(2); }
        }
        &:active { cursor: url(../img/mallet.svg), auto; transform: translateY(5rem); }
    }

    &__percent {
        grid-area: 2/2/3/3;
        width: 20rem;
        height: 20rem;
        animation: circleZ 7s linear 0s infinite;
        z-index: 1;
        span {
            display: inline-block;
            animation: circleZ 7s linear 0s infinite reverse;
        }
    }

    &__circle {
      grid-area: 2/2/3/3;

      img {
          width: 30rem;
          height: 30rem;
          filter: saturate(700%);
          animation: circleZ 7s linear 0s infinite;
          animation-fill-mode: backwards;  //avoids having to set the initial value i.e. transform: rotateZ(0deg);
      }
    }
}
