.menu {
    display: grid;
    grid-template-columns: 8rem 8rem;
    grid-row-gap: 2.25rem;

    position: fixed;
    font-size: 150%;
    color: $color-gold;
    padding: 2.25rem;
    text-transform: uppercase;
    z-index: 1000;

    &__logo {
        grid-column-start:1;
        grid-column-end:3;

        display: grid;
        grid-template-columns: 1fr 1fr;

        padding: .5rem 0;
        border-radius: 100rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; /*so the text cant be selected*/

        &:hover { animation: pulsate 2s infinite; }

        img {
            grid-column-start:1;
            grid-column-end:2;
            justify-self: end;

            height: 2.25rem;
        }

        span {
            grid-column-start:2;
            grid-column-end:3;
            justify-self: start;

            height: 2.25rem;
        }
    }

    &__nav {
        grid-column-start:1;
        grid-column-end:3;
    }

    &__list {
        display: grid;
        grid-row-gap: 2.25rem;

        list-style: none;

        @include respond(phone) {
            grid-row-gap: 1.25rem;
        }
    }

    &__item {
        display:grid;

        position: relative;
        opacity: 0;  //animatable
        visibility: hidden;  //needed so it is not detectable by the mouse: ;
        transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        @for $i from 1 through 5 {
            &--#{$i} {
                top: (-#{$i*5.5}rem);
            }
        }

        &--animate {
            top: 0rem;
    				opacity: 1;
    				visibility: visible;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            display: flex; //to center text vertically
            justify-content: center;
            align-items: center;

            padding: 0.585rem 0;
            border-radius: 100rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            outline: none;
        }

        &:hover {
            animation: pulsate 2s infinite;
        }
    }
}

.contact {
    position: fixed;
    right:0;
    z-index: 1000;

    padding: 2.75rem 5.75rem 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /*so the text cant be selected*/

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;

    &__dial, &__email, &__address {
        height: 3rem;
        width: 3rem;

        display:grid;
        align-items: center;
        justify-items: center;

        transition: all .2s;

        &:hover {
            transform: scale(1.1);
        }

        svg {
            height: 2.4rem;
            width: 2.4rem;
        }
    }

    .volume {
        height: 3rem;
        width: 3rem;
        transition: all .2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.designer {
    font-size: 150%;
    color: $color-white;
    position: absolute;
    top:0;
    width: 100vw;
    padding: 2.75rem;
    transform: translateY(-100%);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &--animate {
        transform: translateY(0%);
    }

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: grid;
    justify-items: center;

    div {
        border-radius: 1rem;
        overflow: hidden;
        background: url(../img_desktop/paper.jpg) no-repeat;
        background-size: 100% 100%;
        padding: 1rem;
        text-shadow: -1px -1px 0 #cca876, -1px 0 0 #cca876, 1px -1px 0 #cca876, 1px 0 0 #cca876, -1px 1px 0 #cca876, 1px 1px 0 #cca876, 0 -1px 0 #cca876, 0 1px 0 #cca876, 0 1px 0 rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 204, 0.8);
        display: grid;
        justify-items: center;
    }

    p {
        height: 2.25rem;
    }

    a {
        &,
        &:link,
        &:visited {
            color: rgba(0, 0, 204, 0.8);
            border-radius: 100rem;
            text-decoration: none;
            text-transform: uppercase;
            outline: none;
            display: inline-block;
            height: 2.25rem;
            transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        &:hover {
            transform: scale(1.2);
            // animation: pulsate 2s infinite;
        }
    }
}

.cssGrid-not-supported, .portrait {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: $color-black;
    z-index: 10000;

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1rem;
        overflow: hidden;
        width: 32rem;
        height: 16rem;
        background: url("../img_desktop/paper.jpg") no-repeat;
        background-size: 100% 100%;

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.8rem;
            color: rgba($color-ink, .8);
            width: 100%;
            text-align: center;
            text-shadow: -1px -1px 0 $color-gold, -1px 0 0 $color-gold, 1px -1px 0 $color-gold, 1px 0 0 $color-gold, -1px 1px 0 $color-gold, 1px 1px 0 $color-gold, 0 -1px 0 $color-gold, 0 1px 0 $color-gold, 0 1px 0 rgba(0, 0, 0, 0.2);
        }
    }
}
