.news {
    position:fixed;
    top:0;
    width: 100%;
    height: 100%;
    color: $color-white;

    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &--animate {
        opacity: 1;
        visibility: visible;
    }

    z-index:10;

    &__element {
        width: 34rem;
        height: 34rem;
        padding: 1rem;
        overflow-y: auto;

        display: grid;
        grid-template-rows: repeat(3, min-content);
        justify-items: center;
        grid-row-gap: 1rem;

        box-shadow: 0rem 0rem 1.5rem rgba(0,255,255,0.5);
        border: .1rem solid rgba(127,255,255,0.25);
        transition: all .4s;

        &:hover {
            box-shadow: 0rem 0rem 2rem rgba(0,255,255,0.75);
            border: .1rem solid rgba(127,255,255,0.75);
            background: linear-gradient(to right, $color-black 0%, $color-black 100%);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }
        &:hover > &-text {
            filter: blur(0);
        }

        &-heading {
            letter-spacing: .1rem;
        }

        &-image {
            width: 35%;
            border-radius: 100%;
        }

        &-text {
            text-indent: 2rem;
            text-align: justify;
            padding-bottom: 1rem;
            filter: blur(.3rem);

            & > p:first-letter{
              text-transform: capitalize;
              font-size: 140%;
            }
        }
    }
}

.zoom {
    position: fixed;
    right: 5.75rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    display: grid;
    grid-template-rows: repeat(2, 4.25rem);
    grid-row-gap: 3rem;

    &--in, &--out {
        border: 1px solid $color-gold;
        border-radius: 100%;
        padding: 1rem;
    }

    &--plus {
        height: 2.25rem;
        width: 2.25rem;
        background: $color-gold;
        //PLUS sign:
        -webkit-clip-path: polygon(0 33%, 33% 33%, 33% 0, 66% 0, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0 66%);
        clip-path: polygon(0 33%, 33% 33%, 33% 0, 66% 0, 66% 33%, 100% 33%, 100% 66%, 66% 66%, 66% 100%, 33% 100%, 33% 66%, 0 66%);
    }
    &--minus {
        height: 2.25rem;
        width: 2.25rem;
        background: $color-gold;
        //MINUS sign:
        -webkit-clip-path: polygon(0 34%, 100% 34%, 100% 67%, 0 67%);
        clip-path: polygon(0 34%, 100% 34%, 100% 67%, 0 67%);
    }
}

#webGLcontainer {
    position: fixed;
    background: linear-gradient(to bottom, rgba(30,72,119,1) 0%,rgba(69,132,180,1) 50%,rgba(30,72,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
