.instruction {
    position: fixed;
    top:0;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 27rem 1fr;
    grid-template-columns: 1fr 32rem 1fr;

    z-index: 1000;
    background-color: rgba($color-black, .5);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &--animate {
        opacity: 1;
        visibility: visible !important;  //!important necessary - see index.html style tag
    }

    &__container {
        grid-column: 2/3;
        grid-row: 2/3;
        border-radius: 1rem;
        overflow: hidden;
        background: url("../img_desktop/paper.jpg") no-repeat;
        background-size: 100% 100%;

        display: grid;
        grid-template-columns: 1fr 5rem;
        justify-items: center;
        align-items: center;
    }

    &__text {
        grid-column: 1/2;
        grid-row: 1/2;

        width: 100%;
        height: 100%;

        text-shadow: -1px -1px 0 $color-gold, -1px 0 0 $color-gold, 1px -1px 0 $color-gold, 1px 0 0 $color-gold, -1px 1px 0 $color-gold, 1px 1px 0 $color-gold, 0 -1px 0 $color-gold, 0 1px 0 $color-gold, 0 1px 0 rgba(0, 0, 0, 0.2);
        display: grid;
        align-items: center;
        text-align: center;
        font-size: 1.8rem;
        color: rgba($color-ink, .8);
        padding: 3rem 0 3rem 3rem;
    }

    &__remove {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 3rem;
        width: 3rem;
        background-color: rgba($color-grey-medium, .5);
        -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        transition: all .2s;

        &:hover {
            background-color: rgba($color-ink, .5);
            cursor: url("../img_desktop/mallet45.svg"), auto;
        }
    }
}
